<p>listar por rol</p>
<a (click)="listar()"  style="cursor: pointer;">Click here</a>
<p>Actualizar rol</p>
<a (click)="nuevoRol()">click Here</a>
<p>Eliminar Usuario</p>
<a (click)="deleteUser()">click Here</a>
<p>Agregar Factura</p>
<a (click)="addInvoce()">clisck here</a>
<p>Registrar user</p>
<a (click)="registerUser()">clisck here</a>
<p>Agrear producto</p>
<a (click)="addProuct()">click here</a>
<p>Lista de productos</p>
<a (click)="getListProduct()">click here</a>
<p>Eliminar producto</p>
<a (click)="deleteProdruct()">click here</a>
<br>
<a (click)="refresh()">Refresh</a>
